@model IEnumerable<SportsPro.Models.Technician>

@{
    ViewData["Title"] = "Technician Manager";
}

<h2>Technician Manager</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.Name</td>
            <td>@t.Email</td>
            <td>@t.Phone</td>
        </tr>
    }
    </tbody>
</table>
