@* Views/Home/Index.cshtml *@
@{
    ViewData["Title"] = "Home";
}

<h1>SportsPro Technical Support</h1>
<p>Sports management software for the sports enthusiast</p>

<h1>Admin</h1>
<div class="list-group">
    <a href="/products" class="list-group-item">Manage Products</a>

    <a href="/technicians" class="list-group-item">Manage Technicians</a>

    <a href="/customers" class="list-group-item">Manage Customers</a>

    <a href="/incidents" class="list-group-item">Manage Incidents</a>

    <a asp-controller="Registration" asp-action="List"
       class="list-group-item">Manage Registrations</a>

    <a href="/about" class="list-group-item">About</a>
</div>

<h1>Technicians</h1>
<div class="list-group">
    <a asp-controller="Incident" asp-action="ListByTech"
       class="list-group-item">Update Incident</a>
</div>
